<h1>User info</h1>
<p class="user-image">
  <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no-image.jpg" %>
</p>
<table class="table table-striped">
    <thead>
      <tr><td>name</td><td><%= user.name %></td></tr>
      <tr><th>intoroduction</th><th><%= user.intoroduce %></th></tr>
     <% if user.id == current_user.id %>
      <tr><th><%= link_to "編集",  edit_user_path(user) %></th></tr>
      <% end %>
    </thead>
</table>



<p> New book</p>

<%= form_for(book_new) do |f| %>

<p>Title</p>
<%= f.text_field :title, class:"book_title"  %>
<p>Opinion</p>
<%= f.text_area :body, class:"book_body" %>

<%= f.submit "Creat Book" %>

<% end %>

