<h1>User info</h1>
<p class="user-image">
  <%= attachment_image_tag current_user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no-image.jpg" %>
</p>
<table class="table table-striped">
    <thead>
      <tr><td>name<td><%= current_user.name %><% if user == current_user.id %>
      <tr><td>intoroduction
      <tr><td><%= link_to "編集",  edit_user_path(@user) %>
      <% end %>
    </thead>
</table>



<p> New book</p>


<%= form_for(book_new) do |f| %>

<p>Title</p>
<%= f.text_field :title, class:"book_title"  %>
<p>Opinion</p>
<%= f.text_area :body, class:"book_body" %>

<%= f.submit "Creat Book" %>

<% end %>

