<%= form_for(@book) do |f| %>
<h1>Title</h1>
<%= f.text_field :title %>
<h1>opinion</h1>
<%= f.text_area :body %>
<%= f.submit 'Update Book'%>
<% end %>

<%= link_to "Show", book_path(@book.id),class:"show_#{@book.id}" %>
<%= link_to "Back", new_book_path,class:"back" %>