<div class="container">
     <div class="row">
    	<div class="col-lg-3">

			<%= render 'users/list', user: @user, book_new: @book_new %>
		</div>

        <div class="col-lg-9">
          <table class="table table-striped">

                <h2>Book detail</h2>
            <thead>
		          <tr>
						    <th>Title</th>
						    <th>body</th>
				  </tr>
			</thead>

			<tbody>
				<tr>
							<td></td>
							<td><%= @book.title %></td>
							<td><%= @book.body %></td>
							<td><%= link_to "Edit", edit_book_path(@book) %></td>
							<td><%= link_to "Destroy", destroy_book_path(@book.id),method: :delete, "date-confirm" => "本当に削除しますか?" %></td>
				</tr>
			</tbody>
		  </table>
		</div>
	 </div>
</div>



